/* styleguide */
* {
	color: #102b3e;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	text-transform: capitalize;
}
body {
	color: #102b3e;
	background-color: #ced8e1;
}
h1 {
	color: #ffff;
	white-space: nowrap;
}
h3 {
	color: #f1545f;
	font-weight: 700;
}
h4 {
	color: #f1545f;
	font-weight: 700;
}
span {
	font-weight: 400;
}
hr {
	border: none;
	background-color: #f1545f;
	height: 5px;
}


/* header */
header {
	background-color: #102b3e;
	padding: 1.5rem;
}
ul {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
ul li {
	display: inline;
	padding: 0.5rem;
	cursor: pointer;
}
ul li a {
	color: #ffff;
	text-decoration: none;
}
ul li a:hover {
	color: #f1545f;
	font-weight: bold;
	transition: 0.2s;
}


/* main */
.content {
	display: flex;
}
.list-products {
	margin: 4rem;
}
.list-item-products a {
	text-decoration: none !important;
	white-space: nowrap;
}
.list-item-products a p {
	margin-top: 0.9rem;
}
.products-name:hover {
	color: #f1545f;
	font-weight: bold;
	transition: 0.3s;
}
.content-lateral {
	padding-top: 1rem;
}
.produc {
	padding: 4rem;
}
.product-img {
	width: 15rem;
	border-radius: 1rem;
	background-color: #f1545f;
}
.item-area {
	display: flex;
	flex-wrap: wrap;
}
.box-products {
	margin: 1em 0em;
	text-align: center;
	width: 16em;
	font-weight: 400;
	cursor: pointer;
}
.box-products a {
	text-decoration: none;
}
.product-color {
	margin-top: .6em;
}
.product-name {
	font-weight: bold;
}
.description-products {
	padding: 5px;
}


/* release */
.section-release {
	padding: 4rem;
}
.img-release {
	width: 15rem;
	border-radius: 1rem;
	background-color: #f1545f;
	border-radius: 10em;
	padding: 0.3em;
	margin-right: 1em;
	display: none;
}
#releases {
	margin-left: 1em;
}
.future-release {
	border-radius: 0.4em;
	display: flex;
	align-items: center;
	margin-top: 1em;
}
.description-release {
	margin-top: 0.3em;
}


/* shop */
.track-area {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: scroll;
}
.track-images {
	margin: 0.5em;
}
.box-track {
	background-color: #f1545f;
	margin: 0.5em;
	padding: 0.3em;
	border-radius: 1em;
	display: none;
	margin-bottom: 0.5em;
}
.img-track {
	width: 15em;
	height: 10em;
	object-fit: cover;
	border-radius: 1em;
	cursor: pointer;
	-webkit-transition: -webkit-transform .5s ease;
  	 transition: transform .5s ease;
}
.img-track:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


/* footer  */
footer {
	background-color: #102b3e;
	padding: 4rem;
	margin-top: 0.5em;
}
.social-content {
	display: flex;
}
.social-content li {
	margin: 0.1em;
	border-radius: 2em;
	background-color: #f1545f;
}
.social {
	filter: invert(1);
}
.copyright {
	text-align: center;
}
.copyright p {
	font-size: 13px;
	color: #ffff;
}
.dados-navigation {
	display: flex;
}


/* modal */
.description-modal {
	width: 18em;
}
.modal-hidden {
	display: none;
	transition: 0.6s;
	justify-content: center;
}
.modal-info {
	position: fixed;
	top: 13em;
    width: 40em;
    height: 25em;
	display: flex;
	justify-content: space-around;
	border-radius: 0.5em;
    background-color: #ffff;
	box-shadow: 0px 0px 220px 2000px #0000008c;
}
.dados-modal {
	margin-top: 3em;
}
.dados-modal h3 {
	margin-top: 1.5em;
}
.dados-modal h4 {
	color: #6d6d6dc7 !important;
}
.size-modal {
	margin-top: 2em;
}
.sizes {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.2em;
}
.selected {
	background-color: #000000 !important;
	transition: 0.4s;
}
.sizes a:hover {
	background-color: #494848 !important;
	transition: 0.4s;
}
.content-sizes {
	margin: 0.1em;
	padding: 0.7em;
	text-decoration: none;
	background-color: #f1545f;
	color: #ffff !important;
	border-radius: 0.5em;
}
.content-modal{
	margin-top: 0.5em;
	color: rgb(28, 28, 28) !important;
}
.modal-info h1, p, h3, h2 {
	margin-top: 0.5em;
}
.img-modal {
	width: 14em;
	height: 15em;
	border-radius: 1rem;
	background-color: #f1545f;
	margin-top: 3em;
}
.end-modal {
	margin-top: 2.3em;
}
.add-cart {
	padding: 1em;
	background-color: #f1545f;
	border-radius: 1em;
	color: #ffff;
	text-decoration: none;
}
.cancel {
	padding: 1em;
	border-radius: 1em;
	text-decoration: none;
}


/* cart */
.details-cart {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5em;
}
.show {
	display: none;
}
.cart {
	position: absolute;
	top: 4.8em;
	background-color: #ffff;
	/* box-shadow: 0px 0px 0px 3000px #0000008c; */

}
.content-cart {
	background-color: white;
	width: 30em;
	padding: 4em;
	box-shadow: 0px 0px 80px 0px #8e8e8e;
}
.main-cart {
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
}
.cart-titles {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5em;
}
.img-cart {
	width: 7em;
}
.add {
	font-size: 1.5em !important;
	border-radius: 5em;
	cursor: pointer;
}
.remove {
	font-size: 1.5em !important;
	cursor: pointer;
}
input {
	width: 2em;
	height: 2.2em;
	text-align: center;
	border-radius: 0.6em;
}
.order-summary {
	padding: 5em;
	background-color: #e2e2e2;
}
.small {
	margin-top: 1em;
	text-align: center;
}
.select-quantity {
	display: flex;
	margin-top: 1em;
}
.select-quantity p {
	margin: 0;
	padding-top: 0 !important;
	padding: 0.5em;
}


/* medias query */
@media (max-width: 860px) {
	.item-area {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width: 768px) {
	.content {
		display: flex;
		flex-direction: column;
   }
	.list-area {
		display: flex;
		flex-wrap: wrap;
   }
	.list-item-products {
		padding: 0.5rem;
   }
   .future-release {
	   display: flex;
	   flex-direction: column;
	   justify-content: center;
	   align-items: center;
	   text-align: center;
   }
   
   footer ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
   }
}
@media (max-width: 580px) {
   footer ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 0.5em;
   }   
}
@media (max-width: 420px) {
   .dados-navigation {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 0.5em;
	}  
}